# Root ignores:
/backups
/published versions
SimCoupe saved images.lnk
desktop.ini
.gitattributes
.gitignore


# FB main source:
/FB main source/make_samsung.bat
/FB main source/symbol.txt
/FB main source/auto.dsk
/FB main source/auto.map


# music folder
/FB main source/music/Protracker - Shortcut.lnk
